@model IEnumerable<LanguageApp.Models.Statistics>

@{
    ViewData["Title"] = "Index";
}

<h1>Users statistics</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StatisticsId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuizCounter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AverageScore)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StatisticsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuizCounter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageScore)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.StatisticsId">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
