@model IEnumerable<LanguageApp.Models.Word>

@{
    ViewData["Title"] = "Index";
}

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Dictionary</h1>

<div>
    <form asp-action="Index" method="get">
        <p>
            <input type="text" name="searchString" />
            <input type="submit" value="Search" />
        </p>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Polish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Translation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            var searchString = Context.Request.Query["searchString"];
            var filteredWords = string.IsNullOrEmpty(searchString)
                ? Model
                : Model.Where(w => w.Polish.StartsWith(searchString) || w.Translation.StartsWith(searchString));
        }
        @foreach (var item in filteredWords){
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Polish)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Translation)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.WordId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.WordId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.WordId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
