@model LanguageApp.Models.QuizDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Quiz</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quiz.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quiz.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quiz.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quiz.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quiz.Liczba)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quiz.Liczba)
        </dd>
    </dl>
</div>

<div>
    <h4>Słówka</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Polski</th>
                <th>Tłumaczenie</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var word in Model.Words)
            {
                <tr>
                    <td>@word.Polish</td>
                    <td>@word.Translation</td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model?.Quiz.QuizId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
