@model QuizResults

@{
    ViewData["Title"] = "Quiz Results";
}

<h1>Quiz Results</h1>

<p>You scored @Model.Points out of @Model.Words.Count points!</p>

<table class="table">
    <thead>
        <tr>
            <th>Polish</th>
            <th>Correct Answer</th>
            <th>Your Answer</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var wordSummary in Model.Words)
        {
            <tr>
                <td>@wordSummary.Polish</td>
                <td>@wordSummary.Answer</td>
                <td>@wordSummary.YourAnswer</td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to Quiz List</a>
</div>